
body {
      font-family: 'Roboto Condensed', sans-serif;
      background-image: linear-gradient(to right bottom, #7e0d0d, #a12f11, #c24e11, #e26e0c, #ff9000); 
      color: rgba(255, 255, 255, 0.945);
}

html{
  min-height: 100%;
}
