#wrapper{
    height: 50%;
    width:90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#profile-field{
    padding: 20px;
    border-radius: 5px;
}

#comment-field{
    padding: 20px;
    border-radius: 5px;
}

#card_img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#pfp-card{
    padding:30px;
}