{% extends "layout.html" %}
{% block title %}Welcome!{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<div id="cwrapperl">
<div class="container">          
      <div class="text-center">    
          <h1><u>Welcome to CompeteMe!</u></h1>
          <p>Your place to <span style="color:black;"><u>create</u></span> and <span style="color:black;"><u>manage</u></span> your tournaments/events. Click the button to start creating one.</p>
          {% if not current_user.is_authenticated %}
          <a href=login><button type="button" class="btn btn-outline-dark btn-lg">Join now!</button></a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a href="#"><button type="button" class="btn btn-outline-dark btn-lg">Create!</button></a>
          {% endif %}
        </div>
  </div>
</div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CompeteMe 2021</p>
      </div>
      <!-- /.container -->
    </footer>
{% endblock %}