{% extends "layout.html" %}
{% block title %}Manage{% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {{messages[0]}}
    </div>
    {% endif%}
    {% endwith %}
    <div class="container" style="margin-top:100px; background-color: white; border-radius:5px; color:black;">
        <div class="row" style="padding-top:20px; padding-bottom:20px;">
            <div class="col-6 text-center">
                <h2>Event you currently joined </h2>
                {% if curevent %}
                <a href="{{url_for('show_event', eventcode=curevent.code)}}"><button type="button" class="btn btn-outline-dark btn-lg">Go to Event Page</button></a>
                {% else %}
                -
                {% endif %}
            </div>
            <div class="col-6 text-center">
                <h2>Team you currently are in </h2>
                {% if curteam %}
                <a href="{{url_for('show_team', teamid=current_user.team_id)}}"><button type="button" class="btn btn-outline-dark btn-lg">Go to Team Page</button></a>
                {% else %}
                -
                {% endif %}
            </div>
        </div>
        <div class="row" style="padding-top:20px; padding-bottom:20px;">
            <div class="col">
                <h2>Events you have adminship: </h2>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover bg-light">
                            <thead>
                                <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Team Size</th>
                                <th scope="col">No of Teams</th>
                                <th scope="col">Starting Time</th>
                                <!--<th scope="col">Ending Time</th>-->
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col">Code</th>
                                <!--<th scope="col">Prize</th>-->
                                <th scope="col">XP Prize</th>
                                <th scope="col">Winner</th>
                                <th scope="col">Creator</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if events %}
                                    {% for event in events %}
                                        <tr>
                                        <td>{{event.title}}</td>
                                        <td><a href="{{url_for('show_event', eventcode=event.code)}}"><button class="btn btn-outline-dark" type="button" onclick="" style="font-size:10px;">Click to go to the event's page</button></a></td>
                                        <td>{{event.team_size}}</td>
                                        <td>{{event.teams_filled}}/{{event.team_no}}</td>
                                        <td>{{event.start}}</td>
                                        {% if event.e_type == 0 %}
                                            <td>Leaderboard</td>
                                        {% endif %}
                                        {% if event.status == 0 %}
                                            <td class="text-success"><b>Open</b></td>
                                        {% endif %}
                                        {% if event.status == 1 %}
                                            <td class="text-warning"><b>Ongoing</b></td>
                                        {% endif %}
                                        {% if event.status == 2 %}
                                            <td class="text-danger"><b>Closed</b></td>
                                        {% endif %}
                                        <td>{{event.code}}</td>
                                        <!--<td>{{event.prize}}</td>-->
                                        <td>{{event.xp_prize}}</td>
                                        {% if event.winner == none %}
                                        <td>-</td>
                                        {% endif %}
                                        {% if event.winner != none %}
                                        <td>{{event.winner}}</td>
                                        {% endif %}
                                        <td>{{event.creator}}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if not events %}
                                <tr>
                                    <td class="text-center" colspan="12" style="font-size:25px;">No events found.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}