{% extends "layout.html" %}
{% block title %} {{event.title}} {% endblock %}
{% block content %}

<div class="container" style="margin-top:100px; color:black; background-color: white; border-radius: 5px;">
    <div class="row" style="padding-top:40px; padding-left:50px;">
        <div class="col-4">
            <h2> {{event.title}} <br><small style="font-size:15px;">Creator: {{event.creator}}</small> </h2>
        </div>
        <div class="col-3" style="padding-top:10px;">
            <h3 style=> Winner : 
                {% if event.status == 0%}
                No winner
                {% endif %}
                {% if event.status == 1%}
                No winner
                {% endif %}
                {% if event.status == 2%}
                    {{event.winner}}
                {% endif %}
            </h3>
        </div>
        <div class="col-3" style="padding-top:10px;">
            {% if event.status == 0%}
                <h3 class="text-success text-center"> Status : Open</h3>
            {% endif %}
            {% if event.status == 1%}
                <h3 class="text-success text-warning"> Status : Ongoing</h3>
            {% endif %}
            {% if event.status == 2%}
                <h3 class="text-success text-danger"> Status : Closed</h3>
            {% endif %}
        </div>
        <div class="col-2 text-center">
            {% if isadmin and event.status == 0%}
            <form method="post">
                <button class="btn btn-outline-dark" type="submit" name="editbut" style="margin-top:10px;">Edit Event</button>
            {% endif %}
            {% if isadmin and event.status == 1%}
                <button class="btn btn-outline-dark" type="submit" name="managebut" style="margin-top:10px;">Manage Results</button>
            {% endif %}
            </form>
        </div>
    </div>
    <hr>
    <div class="row text-center" style="padding-top:10px; padding-left:50px;">
        <div class="col-4">
            <h4>Description</h4><br>
            <p> {{event.desc}}</p>
        </div>
        <div class="col-2">
            <h5>Team Size</h5><br>
            <p> {{event.team_size}}</p>
        </div>
        <div class="col-2">
            <h5>No of Teams</h5><br>
            <p> {{event.teams_filled}}/{{event.team_no}}</p>
        </div>
        <div class="col-2">
            <h5>Starting Date</h5><br>
            <p> {{event.start}}</p>
        </div>
        <div class="col-2">
            <h5>Code</h5><br>
            <p> {{event.code}}</p>
        </div>
    </div>
    <p class="text-center" style="margin-top:10px;"><b>Notice: If your team doesn't acquire enough users until the event starts it will be automatically deleted.</b></p>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
        {% if messages[0] == "0" %}
        <div class="alert alert-success" role="alert">
            Joined the team successfully.
        </div>
        {% endif %}
        {% if messages[0] == "1" %}
        <div class="alert alert-danger" role="alert">
            An error occured while adding to database.
        </div>
        {% endif %}
        {% if messages[0] == "2" %}
        <div class="alert alert-warning" role="alert">
            You left your team.
        </div>
        {% endif %}
        {% if messages[0] == "3" %}
        <div class="alert alert-danger" role="alert">
            You deleted your team.
        </div>
        {% endif %}
    {% endif %}
    {% endwith %}
    <div class="row" style="padding-top:40px; padding-left:50px; padding-right:50px;">
        <table class="table table-hover bg-light">
            <thead>
                <tr class="text-center">
                <th scope="col">Team Name</th>
                <th scope="col">Players Joined</th>
                <th scope="col">Score</th>
                <th scope="col">Team Members</th>
                <th scope="col">Team Creator</th>
                <th scope="col">Join</th>
                </tr>
            </thead>
            <tbody>
                {% if event.status == 0 %}
                    {% if (event.teams_filled < event.team_no) and (not isadmin) and ((current_user.team_id == '') or (current_user.team_id == None)) %}
                        <tr>
                            <td class="text-center" colspan="6" style="font-size:25px;"><a href="{{url_for('create_team', eventcode=event.code)}}" class="text-success">Click to create your own team!</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center" colspan="6" style="font-size:25px;"> You can't join or create a team right now. <br> <small>Possible reasons: you are an admin of this event, you are already in a team, all teams are filled.</small></td>
                        </tr>
                    {% endif %}
                {% endif %}
                {% if teams %}
                    {% for team in teams %}
                        <tr class="text-center">
                            <td>{{team.team_name}}</td>
                            <td>{{team.team_filled}}/{{event.team_size}}</td>
                            <td>{{team.score}}</td>
                            <td><a href="{{url_for('show_team', teamid=team.id)}}"><button class="btn btn-outline-dark" type="button" style="font-size:15px;">Click to see members</button></a></td>
                            <td>{{team.creator}}</td>
                            {% if (event.status == 1) or (event.status == 2)%}
                            <td>Event already started.</td>
                            {% elif (team.team_filled == event.team_size) and (team.id != current_user.team_id)%}
                            <td>Team is full.</td>
                            {% elif (team.is_private == 1) and (team.id != current_user.team_id) %}
                            <td>This team is private.</td>
                            {% elif team.is_private == 0 and ((current_user.team_id == '') or (current_user.team_id == None)) and (team.team_filled < event.team_size) and (isadmin != True) %}
                            <td><form method="post"><button class="btn btn-outline-dark" type="submit" name="joinbut" value="{{team.id}}" style="font-size:15px;">Click to join</button></form></td>
                            {% elif (team.is_private == 0) and (current_user.team_id != None) and (team.id != current_user.team_id) %}
                            <td>You are already in a team.</td>
                            {% elif (team.id == current_user.team_id) and (team.creator != current_user.username) %}
                            <td class="bg-dark text-light">Your team<br>
                                <form method="post"><button class="btn btn-outline-light" type="submit" name="leavebut" value="{{team.id}}" style="font-size:15px;">Click to leave</button></form></td>
                            {% elif (team.id == current_user.team_id) and (team.creator == current_user.username) %}
                            <td class="bg-dark text-light">Your team <small>(created by you)</small><br>
                                <form method="post"><button class="btn btn-outline-light" type="submit" name="delbut" value="{{team.id}}" style="font-size:15px;">Click to delete team</button></form></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if not teams %}
                <tr>
                    <td class="text-center" colspan="6" style="font-size:25px;">No teams registered yet.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}