
    {% extends "layout.html" %}
    {% block title %}Sign up{% endblock %}
    {% block content %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
        <div class="container">
            <div class="row">
            <div class="col-md-8">
            <section>      
                <h1 class="entry-title"><span>Sign Up</span> </h1>
                <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages%}
                    {% if (messages[0] == "Username already exists") or (messages[0] == "Email already exists") %}
                        <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}.
                        </div>
                    {% endif %}
                {% endif %}
                {% endwith %}
        <form action="" class="form-horizontal" method="post" name="signup" id="signup" enctype="multipart/form-data" >        
                <div class="form-group">
                <label class="control-label col-sm-3">Email ID <span class="text-danger">*</span></label>
                <div class="col-md-8 col-sm-9">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Enter your Email ID" value="">
                    </div>
                    <small> Your Email Id is being used for ensuring the security of your account, authorization and access recovery. </small> </div>
                </div>
                
                <div class="form-group">
                <label class="control-label col-sm-3">Set Password <span class="text-danger">*</span></label>
                <div class="col-md-5 col-sm-8">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Choose password (5-15 chars)" value="">
                </div>   
                </div>
                </div>
                <div class="form-group">
                <label class="control-label col-sm-3">Confirm Password <span class="text-danger">*</span></label>
                <div class="col-md-5 col-sm-8">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm your password" value="">
                    </div>  
                </div>
                </div>
                <div class="form-group">
                <label class="control-label col-sm-3">Username <span class="text-danger">*</span></label>
                <div class="col-md-8 col-sm-9">
                    <input type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Enter your username here" value="">
                </div>
                </div>
                <div class="form-group">
                <label class="control-label col-sm-3">Profile Photo <br>
                <small>(optional)</small></label>
                <div class="col-md-5 col-sm-8">
                    <div class="input-group"> <span class="input-group-addon" id="file_upload"><i class="glyphicon glyphicon-upload"></i></span>
                    <input type="file" name="file_nm" id="file_nm" class="form-control upload" placeholder="" aria-describedby="file_upload">
                    </div>
                </div>
                </div>
                <div class="form-group">
                <label class="control-label col-sm-3">Security Code </label>
                <div class="col-md-5 col-sm-8">
                    <div >
                        
                        <input type="text" name="captcha" id="captcha" class="form-control label-warning"  />                
                    </div>
                </div>
                </div>
                <div class="form-group">
                <div class="col-xs-offset-3 col-md-8 col-sm-9"><span class="text-muted"><span class="label label-danger">Note:-</span> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Policy</a>, including our <a href="#">Cookie Use</a>.</span> </div>
                </div>
                <div class="form-group">
                <div class="col-xs-offset-3 col-xs-10">
                    <input name="Submit" type="submit" value="Sign Up" class="btn btn-primary">
                </div>
                </div>
            </form>
            </div>
        </div>
        </div>
        {% endblock %}